body {
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: grey;
}

h3 {
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px grey;
}

h1 {
    color: white;
    font-size: 100px;
    text-shadow: 2px 2px grey;
}

.navbar {
    background-color: lightgrey !important;
}

.logo-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-name .fa-solid {
    font-size: 40px;
    background: #d6249f;
    background: linear-gradient(#fd5949 45%,#d6249f 60%,#285AEB 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
}

.form-control {
    border-radius: 5px;
}

.search-btn {
    color: white;
    border: 1px solid white;
}

.search-btn:hover {
    color: white;
    border: 1px solid white;
    background-color: lightblue;
}

.location-time {
    margin-top: 20px;
    font-size: 24px;
}
.weather-info {
    list-style-type: none;
}

.center {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-container {
    width: 800px;
    height: 550px;
    background-color: lightblue;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
    position: relative;
}

.top {
    color: white;
    font-size: 20px;
}

.logo-temp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-icon {
    height: 100%;
    width: 100px;
}

.bottom {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.box {
    width: 130px;
    height: 150px;
    background-color: white;
    border-radius: 5px;
    margin: 0 13px;
}

.red {
    background-color: red;
    padding: 2px 15px;
    border-radius: 5px;
}

.orange {
    background-color: orange;
    padding: 2px 15px;
    border-radius: 5px;
}

.yellow {
    background-color: yellow;
    padding: 2px 15px;
    border-radius: 5px;
}

.green {
    background-color: green;
    padding: 2px 15px;
    border-radius: 5px;
}