html,body {
    height: 100%;
    width: 100%;
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: grey;
}

h3 {
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px grey;
}

h1 {
    color: white;
    font-size: 100px;
    text-shadow: 2px 2px grey;
}

h5 {
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px grey;
}

.navbar {
    background-color: lightgrey !important;
    margin-bottom: 0 !important;
}

.logo-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-name .fa-solid {
    font-size: 40px;
    background: #d6249f;
    background: linear-gradient(#fd5949 45%,#d6249f 60%,#285AEB 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
}

.form-control {
    border-radius: 5px;
}

.search-btn {
    color: white;
    border: 1px solid white;
}

.search-btn:hover {
    color: white;
    border: 1px solid white;
    background-color: lightblue;
}

.location-time {
    font-size: 24px;
    padding-top: 10px;
}

.weather-info {
    list-style-type: none;
}

.center {
    height: 90%;
    display: flex;
    align-items: center;
}

.weather-container {
    width: 800px;
    height: 550px;
    background-color: lightblue;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
    position: relative;
    margin: 0 auto;
}

.top {
    color: white;
    font-size: 20px;
}

.logo-temp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-icon {
    height: 100%;
    width: 150px;
}

.bottom {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.side-icon {
    width: 40px;
    position: relative;
    float: left;
}

.five-temp {
    font-size: 16px;
    position: relative;
    float: right;
    margin-top: 13px;
}

.five-day {
    margin-top: 10px;
    margin-bottom: 0;
}

.five-humidity,
.five-wind {
    font-size: 12px;
    margin: 0;
    color: white;
    text-shadow: 2px 2px grey;
}

.container {
    width: 130px;
    height: 150px;
    background-color: lightslategrey;
    border-radius: 5px;
    margin: 0 13px;
    box-shadow: 2px 2px 2px black;
}

.red {
    background-color: red;
    padding: 2px 15px;
    border-radius: 5px;
}

.orange {
    background-color: orange;
    padding: 2px 15px;
    border-radius: 5px;
}

.yellow {
    background-color: yellow;
    padding: 2px 15px;
    border-radius: 5px;
}

.green {
    background-color: green;
    padding: 2px 15px;
    border-radius: 5px;
}

@media screen and (max-width:800px) {
    .bottom {
        display: flex;
        flex-wrap: wrap;
    }
    .weather-container {
        min-height: 700px;
    }
    .container {
        margin: 10px !important;
    }
}

@media screen and (max-width:460px) {
    body {
        min-width: 460px;
    }
    .center {
        margin-top: 65px;;
    }
    .bottom {
        display: flex;
        flex-wrap: wrap;
    }
    .weather-container {
        min-height: 700px;
    }
    .container {
        margin: 10px !important;
    }
}